.contacts {
    margin-bottom: 20px;
    
    span {
        padding: 10px 0px;
        font-weight: 400;
        font-size: 14px;
        line-height: 36px;
    }

    .contacts_inn {
        text-transform: uppercase;
    }

    hr {
        height: 1px;
        margin: 20px 0px;
        background-color: $secondColor;
        border: none; 
    }
}