footer {
    background-color: $footerBGColor;
    padding-top: 30px !important;

    .footer {
        margin: 0px 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        flex-wrap: nowrap;
                
        .public-name {
            margin: 10px 5px;

            h2 {
                margin: 0px;
            }
        }

        .feedback {
            display: flex;
            justify-content: center;
            align-items: start;

            .feedback-button {
                margin: 10px 5px;
                padding: 2px;
                background-color: $footerBGColor;
                border: none;
                
                span {
                    color: $textMainColor;
                    font-size: 16px;
                }
            }
        }

        .contacts {
            margin: 0px;
            padding: 0px;
            display: flex;
            flex-direction: column;
            list-style-type: none;

            span {
                display: inline-block;
                margin: 0px;
                line-height: 2;
            }
        }
    }
}

@media (max-width: 900px) {
    footer {

        .footer {
            margin: 0px;
        }
    }
}

@media (max-width: 500px) {
    footer {

        .footer {
                    
            .public-name {
                margin: 10px 5px;

                h2 {
                    font-size: 20px;
                }
            }

            .feedback {

                .feedback-button {
                    
                    span {
                        font-size: 14px;
                    }
                }
            }

            .contacts {

                span {
                    font-size: 14px;
                    line-height: 1.5;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    footer {

        .footer {
            flex-direction: column;

            .feedback {

                .feedback-button {
                    margin-left: 0px;

                    span {
                        font-size: 16px;
                    }
                }
            }

            .contacts {

                span {
                    font-size: 14px;
                    line-height: 1;
                }
            }
        }
    }
}