.hero {
    margin-top: 70px !important;

    .hero_content {
        padding: 100px 0px 50px 0px;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .hero_title {
            margin: 0px;
            text-transform: uppercase;
            text-align: center;
            font-weight: 600;
            font-size: 100px;
        }

        .hero_description {
            margin: 30px auto;
            line-height: 1.2;

            span {
                text-align: center;
                font-size: 18px;
                font-weight: 400;
            }
        }

        .hero_stats {
            flex-direction: row;
            text-transform: uppercase;

            .hero_stats-item {
                padding: 15px 50px;
                flex-direction: column;

                .hero_stats-value {

                    span {
                        font-weight: 700;
                        font-size: 64px;
                    }
                }

                .hero_stats-label {
                    span {
                        font-weight: 500;
                        font-size: 14px;
                    }
                }
            }
        }

        .hero_feedback-button {
            margin-top: 30px;

            .feedback-button {
                min-width: 200px;
                height: 44px;  
                margin-top: 9px;
                margin-bottom: 9px;
                padding: 0 25px;
                background-color: $mainColor;
                border: 3px solid $secondColor;
                border-radius: 22px;
                font-size: 13px;
                transition: background-color 0.2s;
                
                .feedback-button_text {
                    position: relative;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: $textMainColor;
                    white-space: nowrap;
                    z-index: 3;
                }
            }

            .feedback-button:hover {
                background-color: $secondColor;

                .feedback-button_text {
                    color: $textSecondColor;
                }
            }
        }
    }
}