.modal {
    position: fixed;
    top: 0;
    width: 40%;
    height: 100%;
    padding: 0px 30%;
    background-color: rgba(0,0,0,0.7);
    z-index: 50;

    visibility: hidden;

    &.active{
        visibility: unset;
    }

    .modal-window {
        position: relative;
        width: auto;
        margin-top: 25%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $secondColor;
        border: 2px solid $mainColor;
        border-radius: 15px;
        z-index: 100;

        span {
            color: $textModalColor;
        }

        .modal_head {
            width: -moz-available;
            width: -webkit-fill-available;
            margin: 0px 0px 30px;

            .modal_title {

                span {
                    font-weight: 700;
                    font-size: 24px;
                }
            }   

            .modal_close {
                position: absolute;
                top: 10px; 
                right: 10px; 
                padding: 5px;
                background: none; 
                border: none;
                font-size: 25px;
                color: $linkColor;
            }
        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 40px;
            
            div {
                width: -moz-available;
                width: -webkit-fill-available;
            }

            input, textarea {
                width: 100%;
                padding: 20px;
                border:1px solid gray;
                border-radius: 5px;
                box-sizing: border-box;
            }

            input:not(.modal_form_agreement-pdp input) {
                min-height: 50px;
            }

            .modal_form_agreement-pdp {

                input {
                    margin: 0px;
                    width: 16px;
                }
                
                span {
                    font-size: 14px;

                    a {
                        text-decoration: none;
                        color: $linkColor;
                    }   
                }
            }

            .modal_form_submit {
                display: flex;
                justify-content: end;

                button {
                    padding: 10px 20px;
                    background-color: $linkColor;
                    border: 2px solid $linkColor;
                    border-radius: 5px;

                    span {
                        font-weight: 700;
                        font-size: 16px;
                        color: $textMainColor;
                    }
                }
            }
        }
    }
}

@media (max-width: 1440px) {
    .modal {
        width: 50%;
        padding: 0px 25%;
    }
}

@media (max-width: 1024px) {
    .modal {
        width: 60%;
        padding: 0px 20%;
    }
}

@media (max-width: 768px) {
    .modal {
        width: 70%;
        padding: 0px 15%;
    }
}

@media (max-width: 600px) {
    .modal {
        width: 80%;
        padding: 0px 10%;
    }
}

@media (max-width: 500px) {
    .modal {
        width: 85%;
        padding: 0px 7.5%;
    }
}

@media (max-width: 425px) {
    .modal {
        width: 90%;
        padding: 0px 5%;

        .modal-window {
            padding: 20px;
            margin-top: 20%;

            .modal_head {
                margin: 0px 0px 30px;

                .modal_title {

                    span {
                        font-size: 20px;
                    }
                }   
            }

            form {
                gap: 30px;

                .modal_form_submit {

                    button {
                        padding: 7px 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .modal {
        width: 100%;
        padding: 0px;

        .modal-window {
            margin-top: 15%;

            form {
                gap: 20px;
            
                input, textarea {
                    padding: 15px;
                }
            }
        }
    }
}

@media (max-width: 320px) {

}