$font-montserrat: 'Montserrat', sans-serif;

// FONTS
$mainFont: 'Montserrat', sans-serif;

$descSize: 2.044vw;
$titleSize: 51px;
$cardSizetitle: 30.66px;
$cardSizeDesc: 18.87px;
$bigCartSize: 9.044vw;
$bigCartDesc: 1.349vw;
$containerTitle: 43px;
$containerDesc: 31.42px;
$categoryTitle: 27.31px;

// Color
$whiteColor: #FFFFFF;
$blackColor: #000000;
$mainColor: #1e1f22;
$secondColor: #FFFFFF;
$headerBGColor: #17181a;
$footerBGColor: #17181a;

$textMainColor: #FFFFFF;
$textSecondColor: #1e1f22;
$textModalColor: #17181a;

$linkColor: #ffbb00;
$modalActionColor: #ffbb00;



$cookieColor: #ffbb00;
$text: #FFFFFF; 
$text_modal: #17181a;

