@import 'fonts';
@import 'variables';
@import 'blocks/all';



html, body {
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    background-color: $mainColor;

    color: $textMainColor;
    font-family: $mainFont;
}

section, .header, footer, .hero, .description, .contacts {
    margin: 0px;
    padding: 10px 20vw;
}

.btn:hover {
    cursor: pointer;
}

@media (max-width: 1440px) {
    section, .header, footer, .hero, .description, .contacts {
        padding: 10px 15vw;
    }
}

@media (max-width: 1024px) {
    section, .header, footer, .hero, .description, .contacts {
        padding: 10px 10vw;
    }
}

@media (max-width: 425px) {
    section, .header, footer, .hero, .description, .contacts {
        padding: 10px 5vw;
    }
}